:root {
  --primary-color: #616283;
  --secondary-color: #8182A3;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* ----- LAYOUT -----  */
.container {
  max-width: 360px;
  margin: 0 auto;
}

.header {
  background-color: var(--primary-color);
}

/* ----- NAVBAR ----- */

.nav-bar {
  display: flex;
  max-width: 360px;
  margin: 0 auto;
  color: #ffffff;
  line-height: 35px;
}

.nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
}

.nav-bar li {
  display: inline-block;
  padding-right: 10px;
}

.nav-bar a {
  color: #FFFFFF;
  display: inline;
  text-decoration: none;
}

.nav-bar a:hover {
  border-bottom: 1px solid white;
}

/* ----- FORMS ----- */

form {
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
  border-radius: 5px;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="password"],
.form input[type="search"],
.form input[type="time"],
.form textarea,
.form select
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="time"]:focus,
.form textarea:focus,
.form select:focus
{
	box-shadow: 0 0 5px var(--primary-color);
	padding: 3%;
	border: 1px solid var(--primary-color);
}

.form input[type="submit"],
.form input[type="button"],
.form button {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: var(--primary-color);
	border-bottom: 2px solid var(--secondary-color);
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
  border-radius: 5px;
}

.form input[type="submit"]:hover,
.form input[type="button"]:hover{
	background: var(--secondary-color);
}

.label-input {
  margin-bottom: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 8px;
}

.label-input input {
  margin-left: 10px;
}

/* ----- APPOINTMENTS ----- */

.appointment-card {
  background-color: #EEEEEE;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.new-appointment {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  background-color: #9ACD32;
  color: #FFFFFF;
}

.new-appointment h3 {
  margin: 2px;
  display: inline-block;
}

.new-appointment a {
  align-self: center;
  color: #FFFFFF;
  justify-content: space-between;
}

.new-appointment i {
  margin-right: 20px;
}

/* ----- CHATROOM ----- */
.chatroom {
  background-color: #EEEEEE;
  padding: 10px;
  border-radius: 5px;
}

.messages * {
  background-color: #FFFFFF;
  border-radius: 5px;
}

/* ----- FOOTER ----- */
footer {
  background-color: var(--primary-color);
  color: #FFFFFF;
  text-align: center;
  line-height: 25px;
  margin-top: 20px;
}
