.App {
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.nav-bar {
  background-color: #111111;
  width: 100%;
  color: #ffffff;
}

nav a {
  color: #fffff;
  display: inline;
  text-decoration: none;
}
