@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


:root {
  --primary-color: #202C59;
  --secondary-color: #8182A3;
  --heading-font: 'Roboto';
  --secondary-font: 'Open Sans';
}

body {
  margin: 0;
  font-family: var(--secondary-font);
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: var(--heading-font);
  margin: 12px 0;
}

h1, h2 {
  color: var(--primary-color);
}

/* ----- LAYOUT -----  */
.container {
  max-width: 350px;
  margin: 0 auto;
  min-height: calc(100vh - 105px);
}

.small-container {
  max-width: 350px;
  margin: 0 auto;
  min-height: calc(100vh - 105px);
}

.header {
  background-color: var(--primary-color);
}

.link {
  font-size: 110%;
  color: var(--primary-color);
}

/* ----- HOME PAGE ----- */

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 35vh;
  border-radius: 10px;
  padding: 0;
  margin: 10px 0 20px 0;
  position: relative;
}

.hero-appointments {
  background-image: url('./calendar.jpg');
}

.hero-chatroom {
  background-image: url('./messenger.jpg');
}

.hero a {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0px;
}

.login-register {
  display: flex;
  justify-content: space-between;
}

.login-register div {
  display: inline-block;
  width: 48%;
}

.home-login, .home-register {
  height: 40vh;
  position: relative;
}

.home-login {
  background-image: url('./login.jpg')
}

.home-register {
  background-image: url('./register.jpg')
}

.home-login a, .home-register a {
  width: 100%;
}


.home-buttons a {
  background-color: var(--primary-color);
  color: #FFFFFF;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
}


/* ----- NAVBAR ----- */

.nav-bar {
  display: flex;
  max-width: 350px;
  margin: 0 auto;
  color: #ffffff;
  line-height: 35px;
}

.nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
}

.nav-bar li {
  display: inline-block;
  padding-right: 10px;
}

.nav-bar a {
  color: #FFFFFF;
  display: inline;
  text-decoration: none;
}

.nav-bar a:hover {
  border-bottom: 1px solid white;
}

.logout {
  background-color: var(--primary-color);
  color: #FFFFFF;
  border: none;
  padding: 0;
  font-size: 16px;
}

.logout:hover {
  border-bottom: 1px solid #FFFFFF;
}

/* ----- FORMS ----- */

.form {
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
  border-radius: 5px;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="email"],
.form input[type="password"],
.form input[type="time"],
.form input[type="search"],
.form input[tyle="radio"],
.form textarea,
.form select
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
  margin-top: 1%;
	margin-bottom: 3%;
	border: 1px solid #ccc;
	padding: 10px;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="email"]:focus,
.form input[type="time"]:focus,
.form input[type="radio"]:focus,
.form textarea:focus,
.form select:focus
{
	box-shadow: 0 0 5px var(--primary-color);
	padding: 3%;
	border: 1px solid var(--primary-color);
}

.form input[type="submit"],
.form input[type="button"],
.form button {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 10px;
  margin-top: 10px;
	background: var(--primary-color);
	border-bottom: 2px solid var(--secondary-color);
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
  font-size: 90%;
  border-radius: 5px;
}

.form input[type="submit"]:hover,
.form input[type="button"]:hover{
	background: var(--secondary-color);
}

.form.search {
  background: none;
  margin: 0;
  padding: 5px;
  max-width: 100%;
  height: auto;
}

.form.search input {
  display: inline-block;
  padding: 10px;
}

.form.search input:first-child {
  width: 70%;
}

.form.search input:last-child {
  width: 30%;
}

.error {
  background-color: #FFD6D6;
  color: #DC143C;
  padding: 3px 12px;
  border: 1px solid #DC143C;
  border-radius: 5px;
}

/* ----- APPOINTMENTS ----- */

.appointment-card {
  background-color: #EFEFEF;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: auto;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
}

.new-appointment {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  background-color: #9ACD32;
  color: #FFFFFF;
}

.new-appointment h3 {
  margin: 2px;
  display: inline-block;
}

.new-appointment a {
  align-self: center;
  color: #FFFFFF;
  justify-content: space-between;
}

.new-appointment i {
  margin-right: 20px;
}

.appointment-header {
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.appointment-header h3 {
  display: inline;
  margin: 0;
  margin-left: 10px;
  color: var(--primary-color);
}

.appointment-header p {
  margin: 0 10px;
  margin-left: 28px;
  color: var(--secondary-color);
  display: inline-block;
}

.appointment-header i {
  margin-right: 10px;
}

.appointment-info p {
  background-color: #FAFAFA;
  padding: 5px;
  border-radius: 5px;
  color: var(--primary-color);
}

.controls {
  display: flex;
  justify-content: space-between;
}

.edit-link i {
  background-color: var(--primary-color);
  color: #FFFFFF;
  border-radius: 50%;
  padding: 12px;
  margin: 0 10px 5px 0;
  display: flex;
  align-self: flex-end;
}

.nominate-button {
  background-color: var(--primary-color);
  color: #FFFFFF;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 100%;
  margin-right: 10px;
}

.disabled {
  background-color: #AAAAAA;
  text-decoration: line-through;
}

.warn {
  background-color: #FFEFD5;
}

/* ----- CHATROOM ----- */
.chatroom {
  background-color: #EEEEEE;
  padding: 10px;
  border-radius: 5px;
}

.messages * {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 3px;
}

.message {
  margin: 8px 2px;
}

.user-message, .user-message p {
  background-color: #FFFFE3;
}

.message p {
  margin: 0;
  padding: 2px;
}

.sender-text {
  color: #CCCCCC;
  font-size: 75%;
}

.message-form {
  background: none;
  max-width: 100%;
  height: auto;
}

.message-form input {
  -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.message-form input[type="submit"] {
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: var(--primary-color);
	border-bottom: 2px solid var(--secondary-color);
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
  border-radius: 5px;
}


/* ----- FOOTER ----- */
footer {
  background-color: var(--primary-color);
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
}

footer p {
  margin: 0;
}

/* ------------------------------------- */
/* ----------- MEDIA QUERIES ----------- */
/* ------------------------------------- */

@media (min-width: 768px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
    min-height: calc(100vh - 105px);
  }

  .nav-bar {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    color: #ffffff;
    line-height: 35px;
  }

  .appointments-heading {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
  }

  .appointments-heading * {
    display: inline-block;
  }

  .message-form {
    display: flex;
  }

  .message-form input[type="submit"] {
  	box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	width: 20%;
    display: inline-block;
  	padding: 10px;
    justify-content: flex-end;
  	background: var(--primary-color);
  	border-bottom: 2px solid var(--secondary-color);
  	border-top-style: none;
  	border-right-style: none;
  	border-left-style: none;
    margin-top: 5px;
  	color: #fff;
    border-radius: 5px;
  }

  .message-form input[type="text"] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 80%;
    margin-top: 5px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
    border-radius: 5px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
    min-height: calc(100vh - 105px);
  }

  .nav-bar {
    display: flex;
    max-width: 720px;
    margin: 0 auto;
    color: #ffffff;
    line-height: 35px;
  }
}
